{% extends 'layout.html' %}

{% block content %}

        <main>
            <section id="intro" class="headshot introduction">

                <div class="message">
                    <h1>Hey there, I'm Lauren.</h1>
                </div>

            </section>

            {% include 'resume.html' %}

            {% include 'lessons.html' %}

            {% include 'portfolio.html' %}

            {% include 'skills.html' %}

            {% include 'contact.html' %}

        </main>

{% endblock %}
