{% extends 'layout.html' %}

{% block content %}

        <!-- <header id="top"> -->
            <!-- <h1>international affairs major turned full-stack web developer</h1> -->
        <!-- </header> -->

        <main>
            <section id="intro" class="headshot introduction">

                <div class="message">
                    <h1>Hey there, I'm Lauren.</h1>
                </div>

            </section>

            {% include 'resume.html' %}

            {% include 'news.html' %}

            {% include 'portfolio-grid.html' %}

            {% include 'skills.html' %}

            {% include 'contact.html' %}

        </main>

{% endblock %}
