<section id="lessons" class="lessons info">
  <h1>lesson examples and write-ups</h1>
  <div class="container">

    <ul class="lessons-list javascript">
      <h2>javascript:</h2>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="http://backend.turing.io/module4/lessons/asynchronicity-in-javascript">
          Asynchronicity in JavaScript
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/1b8367dca56518f6ef8b5f3513d6849e">
          Integrating React with an Existing Client Application Using Axios
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="http://backend.turing.io/module4/lessons/ajax-refresher">
          Refresher of jQuery's AJAX
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="https://github.com/laurenfazah/color_swatch">
          Color Swatch Client
          <span>&#9658;</span></a>
        </a>
      </li>
    </ul>

    <ul class="lessons-list node">
      <h2>node:</h2>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/e0b0033cdc40a313d4710cc04e654556">
          Cheat Sheet: Setting up Express with Postgres via Knex
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/f9343ae8577999d301334fc68179b485">
          Authentication with an Express API and Postgres
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="http://backend.turing.io/module4/lessons/organize-an-express-app">
          Organizing an Express Application
          <span>&#9658;</span></a>
        </a>
      </li>
    </ul>

    <ul class="lessons-list ruby-rails">
      <h2>ruby & rails:</h2>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="http://backend.turing.io/module1/lessons/archive/introduction_to_modules">
          Ruby Modules
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="https://github.com/laurenfazah/pizza_customer">
          Ruby Pizza Customers
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="http://backend.turing.io/module2/lessons/archive/advanced_routing_rails">
          Advanced Routing in Rails
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="lesson">
        <a class="click-thru" target="_blank" href="https://github.com/laurenfazah/color_swatch_api">
          Color Swatch API
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/9ac145b363fed6def0db5c2817bd2f91">
          Intro to the Asset Pipeline
          <span>&#9658;</span></a>
        </a>
      </li>
    </ul>

    <ul class="lessons-list other">
      <h2>other:</h2>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/9abf1ca07d5adaeb9bb53835b96300c5">
          Intro to SQL
          <span>&#9658;</span></a>
        </a>
      </li>
      <li class="gist">
        <a class="click-thru" target="_blank" href="https://gist.github.com/laurenfazah/678fc8f464dcfe4e57286ef9a40921d2">
          HTML & CSS Best Practices
          <span>&#9658;</span></a>
        </a>
      </li>
    </ul>
  </div>
</section>
