<section id="portfolio" class="portfolio info">

    <div class="career">
        <h1>the goods:</h1>
        <ul class="flip portfolio-grid">
            <li class="piece card training-portal">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Adcademy</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">An internal training portal for Hill Holliday built with PHP's CodeIgniter.</p>
                    <a href="http://training.hhcc.com/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card events">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">HHCC Events</p>
                    <p class="role">Front End Developer, Hill Holliday</p>
                    <p class="description">Built the new /events/grid/ page for hhcc.com, leveraging the existing ExpressionEngine codebase to feature live content from HHCC employees at various events.</p>
                    <a href="http://hhcc.com/events/grid" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card passion">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Liberty Mutual's Passion to Protect</p>
                    <p class="role">Front-End Developer, Hill Holliday</p>
                    <p class="description">My role with this project has been both front-end and back-end bug fixes, feature built-outs, and brand updates.</p>
                    <a href="http://passiontoprotect.libertymutualgroup.com/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card brandfeed">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Brandfeed</p>
                    <p class="role">Lead JavaScript Developer, Hill Holliday</p>
                    <p class="description">In house, in-progress social analytics app built with an AngularJS front-end, speaking to a PHP back-end API.</p>
                    <a href="https://brandfeed.io/app/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card rfid">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">RFID Scanner with Inventory API</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">Developed an Arduino prototype in C that reads RFID card information and speaks to a custom inventory API built with PHP's Laravel.</p>
                </div>
            </li>
            <li class="piece card tvnext">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">TVnext Companion Site</p>
                    <p class="role">Front-End Developer, Hill Holliday</p>
                    <p class="description">Built the day-of <a href="http://tvnext.com/index2" target="_blank">Companion</a> site for the 2015 TVnext conference with Craft's CMS.</p>
                    <a href="http://tvnext.com" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card www">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Whole World Water</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">Wordpress blog built for the Whole World Water charity organization.</p>
                    <a href="http://wholeworldwater.org/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card hhcc-app">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Hill Holliday App Landing Page</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">This page was built to announce the company's iOS app to all employees as well as provide installation support.</p>
                    <a href="http://hhcc.com/app/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card onebostonday">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Showcase Landing Page: One Boston Day</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">This landing page summarizes the One Boston Day city-wide movement Hill Holliday created in collaboration with Boston's governance.</p>
                    <a href="http://ourcreativeshowcase.com/onebostonday/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card bdot">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Showcase Landing Page: BdotAdot5</p>
                    <p class="role">Sole Developer, Hill Holliday</p>
                    <p class="description">This landing page summarizes BdotAdot5 + Dunkin' Donuts Excessive Celebrations collaboration.</p>
                    <a href="http://ourcreativeshowcase.com/excessive-celebrations/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card roughwood">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Roughwood</p>
                    <p class="role">Lead JavaScript Developer</p>
                    <p class="description">Co-built this private ecommerce site with an AngularJS front end making API calls to Springboard and Auth0.</p>
                    <a href="http://roughwood.luxury" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card storymaker">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">StoryMaker</p>
                    <p class="role">Sole Developer</p>
                    <p class="description">This AngularJS app was built to give my mother's written bedtime stories an interactive mad-libs-style place to live.</p>
                    <a href="http://laurenfazah.github.io/storymaker/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card selfless">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Selfless</p>
                    <p class="role">Sole Developer</p>
                    <p class="description">This app was entirely built with Ruby on Rails, integrating Twilio's API.</p>
                    <a href="http://selflessapp.herokuapp.com/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card tic-tac-toe">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Tic Tac Toe</p>
                    <p class="role">Sole Developer</p>
                    <p class="description">Classic game interaction built with jQuery.</p>
                    <a href="http://laurenfazah.github.io/tic_tac_toe/" target="_blank" class="click-thru project">View Live <span>&#9658;</span></a>
                </div>
            </li>
            <li class="piece card intuit">
                <div class="front"></div>
                <div class="info back">
                    <p class="title">Intuit</p>
                    <p class="role">Sole Developer</p>
                    <p class="description">Freelanced multiple landing pages for this company for various conferences they host.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
