<section id="skills" class="skills info">

    <div class="container">

        <h1>in my toolbox:</h1>

        <ul class="skills-list languages">
        <h2>languages:</h2>
            <li class="high"><p>Ruby</p></li>
            <li class="high"><p>JavaScript</p></li>
            <li class="high"><p>HTML5</p></li>
            <li class="high"><p>CSS3</p></li>
            <li class="high"><p>SQL</p></li>
            <li class="med"><p>PHP</p></li>
            <li class="med"><p>Python</p></li>
        </ul>

        <ul class="skills-list frameworks">
        <h2>frameworks:</h2>
            <li class="high"><p>Rails</p></li>
            <li class="high"><p>Express</p></li>
            <li class="high"><p>Ember.js</p></li>
            <li class="high"><p>AngularJS</p></li>
            <li class="high"><p>Laravel</p></li>
            <li class="high"><p>CodeIgniter</p></li>
            <li class="med"><p>Sinatra</p></li>
            <li class="med"><p>Craft</p></li>
            <li class="med"><p>ReactJS</p></li>
            <li class="med"><p>Backbone</p></li>
            <li class="med"><p>ExpressionEngine</p></li>
            <li class="med"><p>WordPress</p></li>
        </ul>

        <ul class="skills-list libraries">
        <h2>libraries:</h2>
            <li class="high"><p>jQuery</p></li>
            <li class="high"><p>SCSS</p></li>
            <li class="high"><p>RSpec</p></li>
            <li class="high"><p>Grunt</p></li>
            <li class="high"><p>Bower</p></li>
            <li class="high"><p>Bourbon</p></li>
            <li class="high"><p>Neat</p></li>
            <li class="med"><p>Compass</p></li>
        </ul>

        <ul class="skills-list databases">
        <h2>databases:</h2>
            <li class="high"><p>PostgreSQL</p></li>
            <li class="high"><p>MongoDB</p></li>
            <li class="high"><p>MySQL</p></li>
            <li class="med"><p>SQLite</p></li>
        </ul>

        <ul class="skills-list other">
        <h2>other:</h2>
            <li class="high"><p>Git</p></li>
            <li class="high"><p>Node.js</p></li>
            <li class="high"><p>Heroku</p></li>
            <li class="high"><p>AJAX</p></li>
            <li class="high"><p>Twitter Bootstrap</p></li>
            <li class="med"><p>Arduino</p></li>
            <li class="med"><p>RFID</p></li>
        </ul>

    </div>

</section>
